/* @import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Grey+Qo&display=swap');

.nav-item{
  font-family: "Grey Qo", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
}

#navbarToggler{
    padding: 10px 30px;
} */